body{
	background-color: #C6FF8A;
}

#cabezaPag{
	background-color: #346500;
	font-size: 17px;
	float: center;
	text-align: center;
	height: 40px;
	margin-top: 0px;
	color: white;
	padding: 25px;
}

h2{
	color: #DB0300;
	text-align: center;
	float: center;
	font-style: bold;
}

p{
	color: white;
	margin-left: 40px;
	margin-right: 40px;
	text-align: justify;
}

#imagenPag{
	height: 330px;
	width: 480px;
	border-radius: 40px;
}

#seccionPag{
	background-color: rgba(0, 0, 0, 0.55);
	padding: 10px;
	text-align: center;
}